*{
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  background:#18233a;
  color: white;
  margin: 0;
}

main{
  color: #000000a5;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  justify-content: center;
}

#container-displays{
  display: grid;
  width: 100%;
  gap: 12px;
  grid-template-columns: calc(50% - 2px) calc(50% - 2px);;
}

/*Styles of the two displays (console, editor)*/
.container-template-editor,
.container-display-console {
  height: 80vh; 
  display: flex;
  flex-direction: column;
  background-color: #282c34 ; 
  border: 1px solid #2e2c2c; 
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 3px 2.5px 6px 0.1px rgba(255, 255, 255, 0.44); /* Efecto de luz */
}

/* */
.container-template-editor{
  gap: 10px;

  & button{
    width:max-content
  }

  & .editor-template{
    overflow: auto;
    width: 100%;
    flex-grow: 1;
  }
}

.container-display-console{
  color: white;
  margin: 0;
  padding: 10px;
  overflow: scroll;

  & h2{
    margin: 0;
  }

  & .display-console{
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  #container-displays{
    grid-template-columns: 1fr;
    gap: 14px;
  }

  .container-display-console{
    width: 100%;
    height: 50vh;
    overflow: scroll;
  }

  .container-template-editor{
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 25vh; /* Permite que el contenido crezca dinámicamente */
  }
}
